USE [DW_ULATINA]
GO
/****** Object:  Table [dbo].[FACT_VENTAS_CATEGORIA]    Script Date: 7/28/2024 7:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACT_VENTAS_CATEGORIA](
	[ID_CLIENTE] [varchar](255) NULL,
	[ID_FECHA] [datetime] NULL,
	[ID_SUCURSAL] [int] NULL,
	[ID_VENDEDOR] [int] NULL,
	[ID_DOCUMENTO] [varchar](255) NULL,
	[TOTAL_NETO] [int] NULL,
	[TOTAL_DOCUMENTO] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[FACT_VENTAS_CATEGORIA]  WITH CHECK ADD FOREIGN KEY([ID_CLIENTE])
REFERENCES [dbo].[DIM_CLIENTE] ([ID_CLIENTE])
GO
ALTER TABLE [dbo].[FACT_VENTAS_CATEGORIA]  WITH CHECK ADD FOREIGN KEY([ID_DOCUMENTO])
REFERENCES [dbo].[DIM_VENTA] ([ID_DOCUMENTO])
GO
ALTER TABLE [dbo].[FACT_VENTAS_CATEGORIA]  WITH CHECK ADD FOREIGN KEY([ID_FECHA])
REFERENCES [dbo].[DIM_FECHA] ([ID_FECHA])
GO
ALTER TABLE [dbo].[FACT_VENTAS_CATEGORIA]  WITH CHECK ADD FOREIGN KEY([ID_SUCURSAL])
REFERENCES [dbo].[DIM_SUCURSAL] ([ID_SUCURSAL])
GO
ALTER TABLE [dbo].[FACT_VENTAS_CATEGORIA]  WITH CHECK ADD FOREIGN KEY([ID_VENDEDOR])
REFERENCES [dbo].[DIM_VENDEDOR] ([ID_VENDEDOR])
GO
