USE [DW_ULATINA]
GO
/****** Object:  Table [dbo].[DIM_FECHA]    Script Date: 7/28/2024 7:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_FECHA](
	[ID_FECHA] [datetime] NOT NULL,
	[SEMANA] [varchar](30) NULL,
	[DIA] [varchar](30) NULL,
	[MES] [varchar](30) NULL,
	[AÑO] [int] NULL,
	[SEMESTRE] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_FECHA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
