USE [DW_ULATINA]
GO
/****** Object:  Table [dbo].[DIM_VENTA]    Script Date: 7/28/2024 7:56:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DIM_VENTA](
	[ID_DOCUMENTO] [varchar](255) NOT NULL,
	[CODIGO_PRODUCTO] [varchar](255) NULL,
	[CANTIDAD] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID_DOCUMENTO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DIM_VENTA]  WITH CHECK ADD FOREIGN KEY([CODIGO_PRODUCTO])
REFERENCES [dbo].[DIM_PRODUCTO] ([CODIGO_PRODUCTO])
GO
